In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.random.rand(10,5))

In [3]:
df2 = pd.DataFrame(np.random.rand(10,5))

In [12]:
df1.head(2)

          0         1         2         3         4
0  0.884359  0.852755  0.313341  0.888561  0.031222
1  0.614649  0.174324  0.061008  0.413200  0.691273

In [14]:
df2.head(2)

          0         1         2         3         4
0  0.471707  0.112431  0.051369  0.393773  0.926944
1  0.369811  0.645357  0.280625  0.560151  0.883031

In [15]:
pd.concat([df1,df2], axis=1).head(2)

,0,1,2,3,4,0,1,2,3,4
0,0.884359,0.852755,0.313341,0.888561,0.031222,0.471707,0.112431,0.051369,0.393773,0.926944
1,0.614649,0.174324,0.061008,0.413200,0.691273,0.369811,0.645357,0.280625,0.560151,0.883031

In [47]:
df3 = pd.DataFrame(np.random.rand(5,5))

In [48]:
df4 = pd.DataFrame(np.random.rand(4,5))

In [49]:
df3.append(df4)

C:\Users\Raushan\AppData\Local\Temp\ipykernel_6196\3067018975.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3.append(df4)

          0         1         2         3         4
0  0.015074  0.386642  0.597343  0.323599  0.043450
1  0.651223  0.866505  0.896233  0.387499  0.054524
2  0.696224  0.055702  0.063463  0.261069  0.392000
3  0.337813  0.827686  0.109622  0.856319  0.473808
4  0.154177  0.859560  0.606435  0.719609  0.918833
0  0.199261  0.143380  0.499146  0.106082  0.954866
1  0.596488  0.050941  0.191337  0.499452  0.988089
2  0.650811  0.369676  0.565565  0.117676  0.809607
3  0.747136  0.271994  0.614210  0.622971  0.239428